/* fonts & text formats */
h2, h3, h4, p, li, a {
    font-family: Optima, Segoe, Candara, Calibri;
    color: white
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 2.2vw;
    font-weight:lighter;
    text-align:center;
    padding-bottom:5vw
}

h2 {
    font-size: 2.5vw;
    text-align: center;
    margin: 0;
}

h3 {
    font-size: 1.5vw;
    text-transform: uppercase;
    line-height: 2.5vw;
    padding-bottom:0;
}

p {
    font-size: 1.7vw;
    line-height: 2.5vw;
    text-align: justify;
    padding-bottom: 2vw;
}

/* section footer nav links (h3) */
.nav-left {
    float: left;
    padding-left:20%;
}

.nav-center {
    float: left;
    width:20%;
    padding-left: 17.5%;
}

.nav-right {
    float: right;
    padding-right:20%;
}

.nav-left, .nav-right, .nav-center {
    padding-bottom: 4vw;
}

.nav-clear {
    clear: both;
    padding-bottom:0;
}

.nav-center-top-section {
    float: left;
    width:20%;
    padding-left: 42%;
}

/* section footer link styles */
h3>a:link {
    color: rgb(247, 219, 187);
    text-decoration: none;
}

h3>a:visited {
    color: rgb(247, 219, 187);
}

h3>a:hover {
    color: white;
}

h3>a:active {
    color: rgb(189, 157, 121);
}

/* link styles */ 
a:link {
    color: white;
    text-decoration-color: rgb(189, 157, 121);
    text-decoration-thickness: .1vw;
}

a:visited {
    color: rgb(189, 157, 121);
}

a:hover {
    text-decoration-color: white;
}

a:active {
    color: rgb(247, 219, 187);
}

/* width of left header div */
.left-header {
    width: 40%;
    height: auto;
    float: left;
    border-right: 0.2vw solid rgb(189, 157, 121)   
}

/* format profile pic */
.photo {
    margin:auto;
    width: 60%;
    height: auto;
    padding-left: 20%;
}

/* width of right header div */
.right-header {
    width: 59%;
    float: right;
}

/* format logo */
.logo {
    margin:auto;
    width:90%;
    padding-left: 5%;
}

/* format lists */
ul, ol {
    margin: 0;
    padding: 0;
    display: inline;
}
ul>li, ol>li {
    font-weight: 900;
    font-size: 1.8vw;
    line-height: 3vw;
}

ul>li {
    list-style-type: none;
}

ol>li {
    list-style-position: inside;
}

/* container sizes */
main {
    width: 70%;
    margin: auto;
    padding-top: 5vw;
    padding-bottom: 0;
}

footer, footer>p {
    text-align: center;
}

hr {
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    border: 0.1vw solid rgb(189, 157, 121);
    background-color: rgb(189, 157, 121);
}
